<h1>Login User</h1>

<%= form_with method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: "Enter your username", required: 'required', class:"placeholder" %>
  <br>
  <%= f.submit 'Save' %>
<% end %>
